{% extends 'nav.html'%}

{% block content %}
    <main class="w-100 mx-2 mt-3">
        <form class="w-75 mx-auto mt-2" method="POST" action="">
            {% csrf_token %}
            <h1 class="mt-4">Edit User Profile</h1>
            <hr>
            {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{field.label}}</label>

                {% if field.field.widget.input_type == 'password' %}
                <input class="form-control" type="password" 
                name="{{ field.name }}"  value="">
                {% else %} 
                <input class="form-control" type="{{ field.field.widget.input_type }}" 
                    name="{{ field.name }}" value="{{ field.value }}">
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-primary" style="background-color: #02618A;">Save</button>
        </form>
    </main>
{% endblock content %}