{% extends 'nav.html'%}

{% block content %}
    <main class="w-100 mx-2 mt-3">
        <h1 class="mt-4 mx-2">Financial Trends</h1>
        <hr>
        <div class="row mx-auto">
            <div class="card col g-2 mx-2 mb-3" style="min-height: 15rem;">
                <div class="card-body">
                    <div class='tableauPlaceholder' id='viz1713276661221' style='position: relative'>
                        <noscript>
                            <a href='#'>
                                <img alt='Loan Amount to Property Value ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Lo&#47;LoanAmounttoPropertyValue&#47;LoanAmounttoPropertyValue&#47;1_rss.png' style='border: none'/>
                            </a>
                        </noscript>
                        <object class='tableauViz'  style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/> 
                            <param name='embed_code_version' value='3'/> 
                            <param name='site_root' value=''/>
                            <param name='name' value='LoanAmounttoPropertyValue&#47;LoanAmounttoPropertyValue'/>
                            <param name='tabs' value='no'/>
                            <param name='toolbar' value='yes'/>
                            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Lo&#47;LoanAmounttoPropertyValue&#47;LoanAmounttoPropertyValue&#47;1.png'/> 
                            <param name='animate_transition' value='yes'/>
                            <param name='display_static_image' value='yes'/>
                            <param name='display_spinner' value='yes'/>
                            <param name='display_overlay' value='yes'/>
                            <param name='display_count' value='yes'/>
                            <param name='language' value='en-US'/>
                        </object>
                    </div>                
                    <script type='text/javascript'>
                        let divElement1 = document.getElementById('viz1713276661221');                   
                        let vizElement1 = divElement1.getElementsByTagName('object')[0];                    
                        vizElement1.style.width = '100%';
                        vizElement1.style.height = (divElement1.offsetWidth * 0.75) + 'px';                    
                        let scriptElement1 = document.createElement('script');                    
                        scriptElement1.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                        vizElement1.parentNode.insertBefore(scriptElement1, vizElement1);                
                    </script>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="card col g-2 mx-2 mb-3" style="min-height: 12rem;">
                <div class="card-body">
                    <div class='tableauPlaceholder' id='viz1713276947103' style='position: relative'>
                        <noscript>
                            <a href='#'>
                                <img alt='Property Value According to Ethnicity, Interest Rate, Age, and Origination Charges ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;PropertyValueAccordingtoEthnicityInterestRateAgeandOriginationCharges&#47;PropertyValueAccordingtoEthnicityInterestRateAgeandOriginationCharges&#47;1_rss.png' style='border: none'/>
                            </a>
                        </noscript>
                        <object class='tableauViz'  style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/> 
                            <param name='embed_code_version' value='3'/> 
                            <param name='site_root' value=''/>
                            <param name='name' value='PropertyValueAccordingtoEthnicityInterestRateAgeandOriginationCharges&#47;PropertyValueAccordingtoEthnicityInterestRateAgeandOriginationCharges'/>
                            <param name='tabs' value='no'/>
                            <param name='toolbar' value='yes'/>
                            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;PropertyValueAccordingtoEthnicityInterestRateAgeandOriginationCharges&#47;PropertyValueAccordingtoEthnicityInterestRateAgeandOriginationCharges&#47;1.png'/> 
                            <param name='animate_transition' value='yes'/>
                            <param name='display_static_image' value='yes'/>
                            <param name='display_spinner' value='yes'/>
                            <param name='display_overlay' value='yes'/>
                            <param name='display_count' value='yes'/>
                            <param name='language' value='en-US'/>
                        </object>
                    </div>                
                    <script type='text/javascript'>                    
                        let divElement2 = document.getElementById('viz1713276947103');                    
                        let vizElement2 = divElement2.getElementsByTagName('object')[0];                    
                        if (divElement2.offsetWidth > 800) { 
                            vizElement2.style.width = '100%';
                            vizElement2.style.height = (divElement2.offsetWidth * 0.75) + 'px';
                        } 
                        else if (divElement2.offsetWidth > 500) { 
                            vizElement2.style.width = '100%';
                            vizElement2.style.height = (divElement2.offsetWidth * 0.75) + 'px';
                        } 
                        else { 
                            vizElement2.style.width = '100%';
                            vizElement2.style.height = '1027px';
                        }                     
                        var scriptElement2 = document.createElement('script');                    
                        scriptElement2.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                        vizElement2.parentNode.insertBefore(scriptElement2, vizElement2);                
                    </script>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="card col g-2 mx-2 mb-3" style="min-height: 12rem;">
                <div class="card-body">
                    <div class='tableauPlaceholder' id='viz1713277416815' style='position: relative'>
                        <noscript>
                            <a href='#'>
                                <img alt='Age of Housing to Property Value ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ag&#47;AgeofHousingtoAveragePropertyValue&#47;AgeofHousingtoPropertyValue&#47;1_rss.png' style='border: none'/>
                            </a>
                        </noscript>
                        <object class='tableauViz'  style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/> 
                            <param name='embed_code_version' value='3'/> 
                            <param name='site_root' value=''/>
                            <param name='name' value='AgeofHousingtoAveragePropertyValue&#47;AgeofHousingtoPropertyValue'/>
                            <param name='tabs' value='no'/>
                            <param name='toolbar' value='yes'/>
                            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ag&#47;AgeofHousingtoAveragePropertyValue&#47;AgeofHousingtoPropertyValue&#47;1.png'/> 
                            <param name='animate_transition' value='yes'/>
                            <param name='display_static_image' value='yes'/>
                            <param name='display_spinner' value='yes'/>
                            <param name='display_overlay' value='yes'/>
                            <param name='display_count' value='yes'/>
                            <param name='language' value='en-US'/>
                        </object>
                    </div>                
                    <script type='text/javascript'>                    
                        let divElement3 = document.getElementById('viz1713277416815');                    
                        let vizElement3 = divElement3.getElementsByTagName('object')[0];                    
                        if (divElement3.offsetWidth > 800) { 
                            vizElement3.style.width = '100%';
                            vizElement3.style.height = (divElement3.offsetWidth * 0.75) + 'px';
                        } 
                        else if (divElement3.offsetWidth > 500) { 
                            vizElement3.style.width = '100%';
                            vizElement3.style.height = (divElement3.offsetWidth * 0.75) + 'px';
                        } 
                        else { 
                            vizElement3.style.width = '100%';
                            vizElement3.style.height = '1027px';
                        }                     
                        let scriptElement3 = document.createElement('script');                    
                        scriptElement3.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                        vizElement3.parentNode.insertBefore(scriptElement3, vizElement3);                
                    </script>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
