{% extends 'nav.html'%}

{% block content %}
    <main class="w-75 mx-2 mt-3">
        <h1 class="mt-4 mx-2">Financial Trends</h1>
        <div class="row mx-auto">
            <div class="card col g-2 mx-2 mb-3" style="min-height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Average Approval Score</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Scoring Key</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Mortgage Approval History</h5>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="card col g-2 mx-2 mb-3" style="min-height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">Average Credit Score</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Average Income Level</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Employment Status</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Average Debt-to-Income</h5>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="card col g-2 mx-2 mb-3" style="min-height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">Average Loan Amount</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Average Loan Term</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Average Down Payment</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Average Property Value</h5>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}