{% extends 'nav.html'%}

{% block content %}
    <main class="w-75 mx-2 mt-3">
        <h1 class="mt-4 mx-2">Market Analytics</h1>
        <div class="row mx-auto">
            <div class="card col g-2 mx-2 mb-3" style="min-height: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Low-Mortgage Rate Areas</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">High-Mortgage Rate Areas</h5>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="card col g-2 mx-2 mb-3" style="min-height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Current Mortgage Rate Interests</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Housing Prices History</h5>
                </div>
            </div>
            <div class="card col g-2 mx-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Historical Mortgage Rates</h5>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}